.contentwrapper{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:auto;
}

.firstcol{
    grid-column: auto/span 12;
}

.heading{
    color: black;
    text-align: center;
}

.mainrow{
    align-items: center;
}

.secondcol{
    grid-column: auto/span 5;
}

.stock_illustration{
    max-width: 100%;
}

.Collapsible__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Collapsible__trigger.is-open svg {
    transform: rotate(180deg);
}

.Collapsible__trigger.is-closed svg {
    transform: rotate(180deg);
}

.advanceConfiguration div{
    float: left;
    clear: none;
}

.config_input
{
    text-indent:20px;
    font-size:15px;
    width:45%;
    border:none;
    height:20px;
    border-radius:10px;
    outline:none;
    -webkit-box-shadow: -6px 21px 51px -2px rgba(0,0,0,0.21);
    -moz-box-shadow: -6px 21px 51px -2px rgba(0,0,0,0.21);
    box-shadow: -6px 21px 51px -2px rgba(94,252,232,0.21);
}

.navrow a{
    background-color: white;
    border:2px solid #5EFCE8;
    color:black;
    padding:5px 10px;
    text-decoration: none!important;
    border-radius:20px;
}

.navbarcontainer{
    text-align: start;
    color:white;
    padding: 10px;
    background-color:#fff;
    -webkit-box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
    box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
}

.para{
    text-align: center;
}


.navbar{

}
.paralogin{
    margin-top:20px;
    font-size:10px;
}
.signup a{
}

/*Responsive*/
@media(max-height:600px)
{
    .heading{
        font-size: 30px;
    }
    .mainrow{
        margin-top:30px;
    }
    .para{
        font-size: 12px;
    }
}

@media(max-width:767px)
{
    .firstcol
    {
        grid-column: auto/span 12;
    }

    .secondcol
    {
        grid-column: 2/span 10;
    }
}