.advanceCell {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

.advanceCell label{
  margin-right: 10px;
  font-size: 14px;
}

.email_submit_container
{
  display: flex;
  margin:auto;
  justify-content: center;
}

.iconwa
{
  font-size: 30px;
  justify-self: end;
  align-self: center;
}

.emailpick
{
  text-indent:20px;
  font-size:20px;
  width:45%;
  border:none;
  height:40px;
  border-radius:10px;
  outline:none;
  -webkit-box-shadow: -6px 21px 51px -2px rgba(0,0,0,0.21);
  -moz-box-shadow: -6px 21px 51px -2px rgba(0,0,0,0.21);
  box-shadow: -6px 21px 51px -2px rgba(94,252,232,0.21);
}
   
.email_submit_button
{
  cursor:pointer;
  padding:8px 16px 8px 16px;
  font-size: 25px;
  background-image:linear-gradient( 130deg, #5EFCE8 10%, #736EFE 100%);
  border:none;
  border-radius:20px;
  outline:none!important;
}

.uploadSubmit {
  background-color: white;
  color: black;
  padding: 0.2rem;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 0.3rem;
  cursor: pointer;
  border-width: 1px;
}
   
.white{color:white;}

/*Responsive*/
@media(max-height:600px)
{
  .para{
    font-size: 12px;
  }
}

.para{
  text-align: center;
}

table tr td {
  text-align: center;
  vertical-align: middle;
}

.config_input
{
  text-indent:15px;
  font-size:15px;
  width:45%;
  border: 1px solid black;
  height:20px;
  border-radius:10px;
  outline:none;
  -webkit-box-shadow: -6px 21px 51px -2px rgba(0,0,0,0.21);
  -moz-box-shadow: -6px 21px 51px -2px rgba(0,0,0,0.21);
  box-shadow: -6px 21px 51px -2px rgba(94,252,232,0.21);
}

.Collapsible__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Collapsible__trigger.is-open svg {
  transform: rotate(180deg);
}

.Collapsible__trigger.is-closed svg {
  transform: rotate(180deg);
}
