@font-face
{
    font-family: 'montserrat-medium';
    src: local('montserrat-medium'), url(../../resources/fonts/Montserrat-Medium.ttf) format('truetype');
}

.navbarcontainer
{
    grid-column: auto/span 12;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    padding: 10px;
    background-color:#fff;
    -webkit-box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
    box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
}

.logocol a
{
    text-decoration: none!important;
    list-style:none;
    color:black;
    outline:none;
}

.navlist ul
{
    display: flex;
    flex-direction: row;
    margin:0 auto; /*clears bottom-margin UL items*/
}

.navlist ul li
{
    list-style-type:none;
    margin-right:10px;
}

.navlist a
{
    font-size:14px;
    text-transform: uppercase;
    border-bottom:2px solid #52C692;
    color:black;
    padding:5px 10px;
    text-decoration:none!important;
    border-radius:20px;
    outline:none;
}

.login {
    color: black;
}

@media(max-width:767px){
    .navlist{
        display:none;
    }
    .navbarcontainer{
        justify-content: space-between;
    }
}