.collapsibleTitleWithDelete {
    display: block;
    /*float: left;*/
}

.contentcontainer{
    grid-column: auto /span 12;
    display: grid;
}

.contentwrapper{
    grid-column: auto/span 12;
    margin: 5% 15%;
}

.contentwrapper ul li{
    height:auto;
    padding: 3px;
}

.historyItem {
    display: flex;
    align-items: flex-start;
}

.emptyHistoryTxt {
    text-align: center;
}

@media(max-width:767px) {
    .firstcol {
        grid-column: auto/span 12;
    }
}
